<template>
  <div class="square" @mouseover="toggleText(true)" @mouseleave="toggleText(false)">
    <img :src="image.url" alt="Square Image">
    <p v-if="showText">{{ image.text }}</p>
  </div>
</template>

<script>
export default {
  name: 'ImageSquare',
  props: {
    image: Object
  },
  data() {
    return {
      showText: false
    };
  },
  methods: {
    toggleText(status) {
      this.showText = status;
    }
  }
};
</script>

<style scoped>
.square {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.square:hover {
  transform: scale(1.1);
}
.square img {
  width: 100%;
  height: 100%;
}
.square p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin: 0;
  display: none;
}
.square:hover p {
  display: block;
}
</style>
